/*
Navbar
*/
body .navbar-default .navbar-brand {
    display: none;
}
body.sidebar-collapse .navbar-default .navbar-brand {
    display: block;
}
.navbar-default {
    border: 0px;
    border-radius: 0px;
    padding: 0;
    margin-bottom: 0px;
}
.navbar-default .navbar-brand {
    padding-left: 10px;
}
.navbar-default .navbar-brand i {
    margin-right: 10px;
}
.navbar-default .dropdown-menu {
    border-radius: 0;
    padding: 0;
    min-width: 300px;
    border-top: 0px;
    margin-right: -1px;
}
.navbar-default .dropdown-menu .dropdown-title-bar {
    font-size: 10px;
    font-weight: 700;
    padding: 3px 6px 3px 6px;
}
.navbar-default .dropdown-menu .message {
    color: #666;
    font-size: 10px;
    padding: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.navbar-default .dropdown-menu .notification-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar-default .dropdown-menu .notification-list li:first-child {
    border-top: 0px solid #EEEEEE;
}
.navbar-default .dropdown-menu .notification-list li {
    border-bottom: 0px solid #EEEEEE;
    overflow: auto;
}
.navbar-default .dropdown-menu .notification-list li > a > * {
    float: left;
}
.navbar-default .dropdown-menu .notification-list li .noti-icon {
    padding: 10px;
    width: 50px;
    text-align: center;
    height: 50px;
}
.navbar-default .dropdown-menu .notification-list li .noti-message {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}
/* Navbar */
.navbar-inverse {
    background-color: #00B16A;
    border-color: transparent;
  }

 #navbar li.active a{
    background-color: #2c3e50;
    color: #EEEEEE;
    
 }

 .navbar-header .navbar-brand{
     color: #FFF;
 }

 #navbar li a{
    color: #EEEEEE; 
    
 }

 #navbar li a.menuOpcion:hover{
    color: #EEEEEE;
    text-shadow: 3px 2px 3px black;
    
 }
/*
Button
*/

.btn {
    border-radius: 0;
}
.btn.btn-default {} .btn.btn-default:hover {
    background-color: rgba(0, 0, 0, 0.01);
}
.btn.btn-primary {
    background-color: #2C3E50;
    border-color: #223242;
}
.btn.btn-primary:hover {
    background-color: #223242;
}
.btn.btn-success {
    background-color: #00B16A;
    border-color: #029e5f;
}
.btn.btn-success:hover {
    background-color: #029e5f;
}
.btn.btn-info {
    background-color: #22A7F0;
    border-color: #008fde;
}
.btn.btn-info:hover {
    background-color: #008fde;
}
.btn.btn-warning {
    background-color: #ff9704;
    border-color: #ea8900;
}
.btn.btn-warning:hover {
    background-color: #ea8900;
}
.btn.btn-danger {
    background-color: #F64747;
    border-color: #e85338;
}
.btn.btn-danger:hover {
    background-color: #e85338;
}
.btn.btn-link {
    color: #2C3E50;
}


/*
Alert
*/

.alert {
    margin-bottom: 0px;
    border-radius: 0;
    border: 0px;
}
.alert.alert-success {
    background-color: #caeda9;
    border-bottom: 0px solid #00B16A;
}
.alert.alert-info {
    background-color: #b7e2fa;
    border-bottom: 0px solid #22A7F0;
}
.alert.alert-warning {
    background-color: #fde5be;
    border-bottom: 0px solid #ff9704;
}
.alert.alert-danger {
    background-color: #f7c5bc;
    border-bottom: 0px solid #F64747;
}

/*
Form
*/

input.form-control, textarea.form-control {
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #DDD;
}
form .block-content .form-group {
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: -10px;
    margin-left: -10px;
}
.block-footer .form-group {
    margin-right: -5px;
    margin-left: -5px;
}
.block-content .form-group:last-child {
    border-bottom: 0px solid rgba(0, 0, 0, 0.01);
}
form.form-vertical .block-content .form-group {
    padding-left: 16px;
    padding-right: 16px;
}
form.form-vertical .block-footer .form-group {
    padding-left: 20px;
    padding-right: 20px;
}
form.form-vertical .checkbox {
    padding-left: 26px;
    margin-top: 15px;
}

/*
Form Color
*/

.form-group.has-success input, .form-group.has-success textarea {
    border: 1px solid #00B16A;
}
.form-group.has-success label {
    color: #00B16A;
}
.form-group.has-warning input, .form-group.has-warning textarea {
    border: 1px solid #ff9704;
}
.form-group.has-warning label {
    color: #ff9704;
}
.form-group.has-error input, .form-group.has-error textarea {
    border: 1px solid #F64747;
}
.form-group.has-error label {
    color: #F64747;
}
.has-success .checkbox label {
    color: #00B16A;
}
.has-warning .checkbox label {
    color: #ff9704;
}
.has-error .checkbox label {
    color: #F64747;
}
.input-group .input-group-addon {
    border-radius: 0;
}
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    border-radius: 0;
}
.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
    border-radius: 0;
}


/*
Button
*/

.btn-lg, .btn-group-lg>.btn, .btn-sm, .btn-group-sm>.btn, .btn-xs, .btn-group-xs>.btn {
    border-radius: 0;
}
.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

/*
Modal
*/

.modal .modal-content {
    border-radius: 0px;
}
.modal .modal-header {
    border-bottom: 0px;
    background-color: #fcfcfc;
}
.modal .modal-footer {
    border-top: 0px;
    background-color: #fcfcfc;
}
.modal.modal-primary .modal-header {
    background-color: #3E4651;
    color: #FFF;
}
.modal.modal-success .modal-header {
    background-color: #00B16A;
    color: #FFF;
}
.modal.modal-info .modal-header {
    background-color: #22A7F0;
    color: #FFF;
}
.modal.modal-warning .modal-header {
    background-color: #ff9704;
    color: #FFF;
}
.modal.modal-danger .modal-header {
    background-color: #F64747;
    color: #FFF;
}
/*
Full screen Modal 
*/
.fullscreen-modal .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    
  }
  @media (min-width: 768px) {
    .fullscreen-modal .modal-dialog {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .fullscreen-modal .modal-dialog {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .fullscreen-modal .modal-dialog {
       width: 1170px;
    }
  }




/*
Checkbox
*/

.checkbox label::before {
    border: 1px solid #DDD;
    border-radius: 0;
    outline: none;
}
.has-success .checkbox label::before {
    border: 1px solid #00B16A;
}
.has-warning .checkbox label::before {
    border: 1px solid #ff9704;
}
.has-error .checkbox label::before {
    border: 1px solid #F64747;
}
.has-success .checkbox input[type="checkbox"]:checked + label::after {
    color: #00B16A;
}
.has-warning .checkbox input[type="checkbox"]:checked + label::after {
    color: #ff9704;
}
.has-error .checkbox input[type="checkbox"]:checked + label::after {
    color: #F64747;
}


#loading {
    height: 100%;
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:99999999999999999999999;
}

.bokeh {
    border: 0.01em solid rgba(150, 150, 150, 0.1);
    border-radius: 50%;
    font-size: 100px;
    height: 1em;
    list-style: outside none none;
    margin: 0 auto;
    position: relative;
    top: 35%;
    width: 1em;
    z-index: 2147483647;
}
.bokeh li {
    border-radius: 50%;
    height: 0.2em;
    position: absolute;
    width: 0.2em;
}
.bokeh li:nth-child(1) {
    animation: 1.13s linear 0s normal none infinite running rota, 3.67s ease-in-out 0s alternate none infinite running opa;
    background: #22A7F0 none repeat scroll 0 0;
    left: 50%;
    margin: 0 0 0 -0.1em;
    top: 0;
    transform-origin: 50% 250% 0;
}
.bokeh li:nth-child(2) {
    animation: 1.86s linear 0s normal none infinite running rota, 4.29s ease-in-out 0s alternate none infinite running opa;
    background: #ff003c none repeat scroll 0 0;
    margin: -0.1em 0 0;
    right: 0;
    top: 50%;
    transform-origin: -150% 50% 0;
}
.bokeh li:nth-child(3) {
    animation: 1.45s linear 0s normal none infinite running rota, 5.12s ease-in-out 0s alternate none infinite running opa;
    background: #fabe28 none repeat scroll 0 0;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 -0.1em;
    transform-origin: 50% -150% 0;
}
.bokeh li:nth-child(4) {
    animation: 1.72s linear 0s normal none infinite running rota, 5.25s ease-in-out 0s alternate none infinite running opa;
    background: #88c100 none repeat scroll 0 0;
    margin: -0.1em 0 0;
    top: 50%;
    transform-origin: 250% 50% 0;
}

@keyframes opa {
    12% {
        opacity: 0.8;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.6;
    }
    66.6% {
        opacity: 0.52;
    }
    70% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.6;
    }
    84.2% {
        opacity: 0.75;
    }
    91% {
        opacity: 0.87;
    }
    }
    
@keyframes rota {
    100% {
        transform: rotate(360deg);
    }
    }

.card-producto {
    margin-bottom: 30px;
    cursor: pointer;
    color:#000;
    
    /* Firefox */
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);

}
      
.card-producto2:hover {
    color:#000;
    background:#ffc;
    display:block;
        
    /* Firefox */
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -o-transform: scale(1.10);
}
