<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Baromia</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="collapse navbar-collapse" id="navBar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">BARATOMIA</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <button id="registro" type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#formregistro">REGISTRARSE</button>
                    <button id="login" type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#formlogin">LOGUEARSE
                    </button>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" id="app">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <input v-model="palabraBuscar" @change="buscarPalabra" class="form-control" placeholder="Buscar...">
        </div>

        <div class="col-md-3">
            <button v-on:click="iniciarBusqueda" class="btn btn-success">Buscar</button>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="col-md-2">
            <h4>Publicidad</h4>
        </div>
        <div class="col-md-7">
            <div class="row">


            </div>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Sitio</th>
                            <th>Precio</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="articulo in articulos">
                            <td>{{articulo.nombre}}</td>
                            <td><a v-bind:href="articulo.url" v-text="articulo.url"></a></td>
                            <td>{{articulo.precio}}</td>
                            <td ><img v-bind:src="articulo.imagen" ></td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-offset-1 col-md-2">
            <h4>Los más Buscados</h4>
            <ul class="list-group">
                <li class="list-group-item">Camara Cannon</li>
                <li class="list-group-item">Notebook v310</li>
                <li class="list-group-item">Camra Cannon</li>
                <li class="list-group-item">Notebook Exo</li>
                <li class="list-group-item">Camra Cannon</li>
                <li class="list-group-item">Camra Cannon</li>

            </ul>
        </div>
        <div class="row">
            <pre> Buscando: {{ palabraBuscar }}</pre>
        </div>
    </div>
    <script src="lib/vue.js"></script>
    <script src="lib/vue-resource.min.js"></script>
    <script src="js/app.js"></script>


    <div class="modal fade" id="formregistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  			<div class="modal-dialog" role="document">
  				<div class="modal-content">
  					<div class="modal-header">
  						<h5 class="modal-title" id="exampleModalLabel">Registrate</h5>
  						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  							<span aria-hidden="true">&times;</span>
  						</button>
  					</div>
  					<div class="modal-body">
  						<form action="algo.php" class="form-horizontal" method="POST">
						<h2>Email</h2>
						<input type="email" required="">
						<h2>Password</h2>
						<input id="password" type="password" required="" maxlength="8" minlength="8">
						<div id="ocultar">
						<h2>Repetir Password</h2>
						<input id="passwordR" type="password" required="" maxlength="8" minlength="8"><br>
						</div>
						<input type="submit">
						</form>
      				</div>
      				<div class="modal-footer">
        			<button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
      				</div>
    			</div>
  			</div>
		</div>
	<script src="jquery.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="funciones.js"></script>
</body>

</html>